PORT=port
NODE_ENV=dev or local
DATABASE_URL=db url goes here
# OLD_DATABASE_URL=old database url goes here
JWT_SECRET=super secret key

# Cloudinary Access Keys
CLOUDINARY_API_KEY=api key goes here
CLOUDINARY_API_SECRET=super secret
CLOUD_NAME=name
