@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{

  --primary-color: #004047;
  --accent-color: #D94F30;
  --button-hover: #00636B;
  --background-color: #FAFAFA;
  --text-color: #333;
  --secondary-color: #2ecc71;
  --text-muted: #666;
  --overlay-color: #f4f4f4;
  --overlay-muted: #e0e0e0;
  --text-font: 'Nunito', sans-serif;
  --heading-font: 'Quicksand', sans-serif;
  

  --padding: 4rem 0; 

--heading-size: clamp(28px, 5vw, 45px);
--heading-weight: 600;

--text-size: clamp(14px, 2.5vw, 18px);
--text-weight: 400;

--line-height: 1.5;
--letter-spacing: 1px;


  /* --heading-mq-size:  1.5rem;
  --heading-mq-weight: 500; */

  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-600: #059669;
  --emerald-900: #064e3b;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}


.fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}

.inner-pages-container{
  padding-top: 5rem !important ;
  padding-bottom: 0rem !important;

  background-color: var(--background-color);
  min-height: 100vh;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}


