.experience-section {
  height: 100vh;
  background: linear-gradient(135deg, var(--button-hover) 0%, var(--primary-color) 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.experience-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  /* max-width: 800px; */
  /* padding: var(--container-padding); */
}