*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{

  --primary-color: #004047;
  --accent-color: #D94F30;
  --button-hover: #00636B;
  --background-color: #FAFAFA;
  --text-color: #333;
  --secondary-color: #2ecc71;
  --text-muted: #666;
  --overlay-color: #f4f4f4;
  --text-font: 'Nunito', sans-serif;
  --heading-font: 'Quicksand', sans-serif;

  --padding: 5rem 0;
}

